<%= form_for(@card, :remote => true ) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= f.hidden_field :stack_id, :value => cookies[:stack_id] %>

  <div class="field">
    <%= f.label :front %><br />
    <%= f.text_field :front %>
  </div>
  <div class= 'separator'></div>
  <div class="field" style = 'margin-top:70%;'>
    <%= f.label :back %><br />
    <%= f.text_field :back %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
$('form').submit(function() {  
    var valuesToSubmit = $(this).serialize();
    var front = $("[name='card[front]']", this).val();
    var back = $("[name='card[back]']", this).val();

    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: 'html', // you want a difference between normal and ajax-calls, and json is standard
        type: 'POST',
        success: function(response) { 
        $('#new_card').addClass('viewed').html("<div class = 'top-card'>"+front+"</div>" + "<div class= 'separator'></div>" + "<div class = 'bottom-card'>"+back+"</div>").removeAttr('id').addClass('card');
        
    $('.card').toggle(function() {
            $('.f1_card, .spine').css("z-index","0");
      $('.pocket').css("z-index","1000");
      angle = Math.random() * 2 - 1;

    $(this,'.card:last').not('.viewed').animate({left: "110%"}, 1000 ).css("transform", "rotate("+angle+"deg)").addClass("viewed").bringToTop();
  },function() {
    $(this,'.viewed:last').css("transform", "rotate(0deg)").animate({left: "2%"}, 1000 ).removeClass("viewed").bringToTop();
  })
        
      }
    });
    return false; // prevents normal behaviour
});



</script>