
<div id = "left-nav">
                <div class="btn-group-vertical">
                <%= link_to image_tag("mystacks.png", :class => 'img-responsive'), stacks_path, :class => "btn btn"%>
                <%= link_to image_tag("calendar.png", :class => 'img-responsive'), new_stack_path, :class => "btn btn"%>
                <%= link_to image_tag("exam.png", :class => 'img-responsive'), new_stack_path, :class => "btn btn"%>
                <%= link_to image_tag("earn.png", :class => 'img-responsive'), new_stack_path, :class => "btn btn"%>
                <%= link_to image_tag("contact.png", :class => 'img-responsive'), new_stack_path, :class => "btn btn"%>
                  

                </div>

            </div>