<!DOCTYPE html>
<html>
<head>
  <title>Flip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
</head>
<body>




            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
    
                      <a class="navbar-brand" href="#">Bootflat</a>
                    </div>
                    <div class="collapse navbar-collapse"  style='float: right; '>
                      <% if current_user %>
                        <p class="navbar-text">Signed in as <%= current_user.name %><%= current_user.email %> |
                        <%= link_to "Sign Out", signout_path %></p>
                      <% else %>


                        <p class="navbar-text">

                          <%= link_to "Sign up", sign_up_path %> or
                          <%= link_to "log in", log_in_path %></p>
                      <% end %>
                    </div>
                </nav>
              </div>
            </div>



<%= render partial: "layouts/left_nav" unless @disable_nav%>



<%= yield %>

</body>
</html>
